<h1>index</h1>
<a href="facebook/index.html">Protected url by Facebook : facebook/index.html</a><br />
<br />

<a href="/logout">local logout</a>
<br/>

<br /><br />profiles: {{userProfiles}}
<br /><br />

<!-- Link to Google CDN's jQuery; fall back to local -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
