<h1>index</h1>
<a href="facebook/index.html">Protected url by Facebook : facebook/index.html</a><br />
<a href="facebookadmin/index.html">Protected url by Facebook with ROLE_ADMIN: facebookadmin/index.html</a><br />
<a href="facebookcustom/index.html">Protected url by Facebook with custom authorizer (= must be a <em>CommonProfile</em> where the username starts with "jle"): facebookcustom/index.html</a> (login with form or basic authentication before with jle* username)<br />

<br />

<a href="/logout">local logout</a>
<br/>

<br /><br />profiles: {{userProfiles}}
<br /><br />

<!-- Link to Google CDN's jQuery; fall back to local -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
